<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
    </head>
    <body>
        <form method="post">
            <p>
                <label>
                    Логин
                    <input type="text" name="login">
                </label>
            </p>
            <p>
                <label>
                    Пароль
                    <input type="password" name="password">
                </label>
            </p>
            <button type="submit">Sign up</button>
        </form>
    </body>
</html>
